<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= characters.Name %></title>
	</head>
	<body>
		<a href="/allChars">Back to all characters</a>

		<h1>ID: <%= characters.CharId %></h1>
		<h2>Name: <%= characters.Name %></h2>
		<h3>Type: <%= characters.Type %></h3>
		<h3>Rank: <%= characters.Rank %></h3>
		<ul>
			Specials:
			<% characters.Specials.forEach( (moves) => { %>
				<li><%= moves %></li>
			<% }) %>
		</ul>
		<h3>Final Smash: <%= characters.FinalSmash %></h3>
		<h3>Series: <%= characters.Series %></h3>

		<!-- <a href="/updateChar/<%=characters.Name%>">Update this character</a><br><br> -->

		<form action="/api/deleteOneCharacter/<%= characters.Name %>?_method=DELETE" method="post">
			<input type="submit" name="_method" value="DELETE THIS CHARACTER">
		</form>
	</body>
</html>